<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1> <%= t('right.show.title') %> <small> <%= t('right.show.description') %></small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>  <%= t('right.show.title') %> </li>
      </ol>
    </div>
  </div>

  <p id="notice"><%= notice %></p>
  <p>
    <strong><%= t('name_label') %>:</strong>
    <%= @right.name %>
  </p>

  <p>
    <strong><%= t('availability') %>:</strong>
    <%= @right.is_available %>
  </p>

  <%= link_to t('action.edit'), edit_right_path(@right), class:'btn btn-default' %>
  <%= link_to t('action.back'), rights_path, class:'btn btn-default' %>

</div>