<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1> <%= t('video_clip.index.title') %>  <small><%= t('video_clip.index.description') %></small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>  <%= t('video_clip.index.title') %> </li>
      </ol>
    </div>
  </div>

  <%= form_tag video_clips_path, :method => 'get', :id => 'video_clips_search' do %>
      <p>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag t('search_label'), :title => nil %>
      </p>
      <div id="video_clips_div"><%= render 'video_clips' %></div>
  <% end %>
</div>