<%= form_for(@personalgroup) do |f| %>
  <% if @personalgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personalgroup.errors.count, "error") %> prohibited this personalgroup from being saved:</h2>

      <ul>
      <% @personalgroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
